.App {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}

body {
  margin: 0%;
  padding: 0%;
  font-family: montserrat, arial, verdana;
}

.form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
  margin-right: 2% ;
}

.form-container {
  width: 1000px;
  height: 500px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
}

.form-container .header {
  flex: 20%;
  display: grid;
  place-items: center;
}

.form-container .body {
  flex: 80%;
}

.form-container .footer {
  flex: 20%;
  display: flex;
  justify-content: center;
}

.form-container .footer button {
  border-radius: 7px;
  width: 100px;
  height: 40px;
  background-color: rgb(19, 128, 73);
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
  margin: 5px;
}

button.hide {
  /* visibility: =hidden; */
  display: none;
}

.model-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.model-container label {
  margin: 5px;
  width: 300px;
  height: 40px;
  padding-left: 5px;
  font-size: 20px;
}

.uploads-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.uploads-container input {
  margin: 5px;
  width: 300px;
  height: 40px;
  padding-left: 0px;
  font-size: 20px;
}

.uploads-container button {
  width: 100px;
  height: 30px;
  background-color: rgb(19, 128, 73);
  font-size: 20px;
  font-weight: light;
  color: white;
  border: 0 none;
  border-radius: 10px;
  cursor: pointer;
  padding: 1px 5px;
  margin: 10px 5px;
  margin: 5px;
  align: center;


}

/* PROGRESS BAR */
.progress {
  position: relative;
  width: 1000px;
  height: 20px;
  background-color: white;
  margin-bottom: 50px;
  margin-top: 50px;
}

.progress div {
  width: 33.3%;
  height: 100%;
  background-color: rgb(19, 128, 73);
}

input {
  border: 2px solid rgb(19, 128, 73);
  border-radius: 5px;
}

input:focus {
  border: 3px solid rgb(19, 128, 73);
}
/* SIDEBAR */
.Sidebar {
  position: absolute;
  height: 100%;
  width: 250px;
  background-color: #138049;
}

.SidebarList {
  height: auto;
  padding: 0;
  width: 100%;
}

.SidebarList .row {
  width: 100%;
  height: 60px;
  list-style-type: none;
  margin: 0%;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.SidebarList .row:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}
.SidebarList #active {
  background-color: white;
  color: black;
}
.row #icon {
  flex: 30%;
  display: grid;
  place-items: center;
}

.row #title {
  flex: 70%;

}

/* * {
    text-align: center;
}
  
.logo {
    margin: auto
}
  
.jumbotron {
    margin: 100px auto;
    max-width: 50%;
    text-align: center;
}
  
.card {
    width: 18rem;
    margin: 100px auto;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
      animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

ul {
  text-align: left;
  width: 400px;
}

input {
  height: 27px;
  margin: 4px;
  padding: 4px;
  font-size: 24px;
}
button {
  height: 40px;
  margin: 4px;
  padding: 4px;
  font-size: 24px;
} */

/* Login
.app {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: #f8f9fd;
}

input[type="text"],
input[type="password"] {
  height: 25px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

input[type="submit"] {
  margin-top: 10px;
  cursor: pointer;
  font-size: 15px;
  background: #01d28e;
  border: 1px solid #01d28e;
  color: #fff;
  padding: 10px 20px;
}

input[type="submit"]:hover {
  background: #6cf0c2;
}

.button-container {
  display: flex;
  justify-content: center;
}

.login-form {
  background-color: white;
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.list-container {
  display: flex;
}

.error {
  color: red;
  font-size: 12px;
}

.title {
  font-size: 25px;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
} */