body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.pagination{
  margin: 10px;
}
.paginationBttns{
  width: 80%;
  height: 2rem;
  display: flex;
  justify-content: center;
  list-style: none;
  margin-top: 5rem;
}

.paginationBttns a{
  text-decoration: none;
  margin: 10px;
  padding: 0.8rem;
  border-radius: 5px;
  border: 1px solid #2b2eff;
  color: #2b2eff ;
  cursor: pointer;
}

.paginationBttns a:hover {
  transform: scale();
  color: white !important;
  background-color: #2b2eff;
}

.paginationActive a{
  background-color: #2b2eff !important;
  color: white !important;
}

.button-div{
  width: 3rem;
  margin: auto;
}

.cards-div{
  width: 80%;
  margin: auto;
  background-color: rgba(179,190,181,0.4);  
  border: 1px solid gray;
  border-radius: 3rem;
  padding: 3rem;

}


.card__style{
  box-shadow: 35px 35px 68px 0px rgba(111, 111, 111, 0.5), inset -5px -5px 16px 0px rgba(111, 111, 111, 0.6), inset 0px 11px 28px 0px rgb(255, 255, 255);
  cursor: pointer;
  width: 15rem;
  margin: 1rem;
  border: none;
  border-radius: 16px;
  backdrop-filter: blur(15px);
  background: rgba(255, 255, 255, 0.4);
}